
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title> Examples of diagrams </title>
<link rel="stylesheet" href="/jeffrey.css">
</head>

<body>
<h2> Examples of diagrams created by the Choiceless Grapher </h2>
<p> Scroll down for the full diagram. Hover over each image for a description.</p>

<img class="examples" src="/examples/HR-0-10.png"
     title="The first 10 HR. forms."/>

<img class="examples" src="/examples/HR-0-22.png"
     title="HR.0 to HR.22."/>

<img class="examples" src="/examples/old-collection.png"
     title="A project I had as a logic student at the ILLC, included (then manually) creating a diagram of these forms, and researching each node's compatibility with the axiom of determinacy (AD)." />

<img class="examples" src="/examples/alephs-and-their-properties--fancy.png"
     title="The forms in section 'Alephs and their properties' of the book 'Consequences of the Axiom of Choice'."/>

<img class="examples" src="/examples/descendants-of-132.png"
     title="A graph of the descendants of HR.132 (web-feature tba)"/>

<img class="examples" src="/examples/full-diagram.png"
     title="The full diagram, of all the ZF-data in the Consequences of the Axiom of Choice project, using only number labels. With fancy labels it's very hard to render."/>

<img class="examples" src="/examples/random-10.png"
     title="A collection of 10 pseudorandomly generated consequences of AC (web-feature tba)."/>


</body>
</html>
