<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title> <!-- TMPL_VAR title --> </title>
<link rel="stylesheet" href="/jeffrey.css">
</head>

<body>

<h1>
Names and statements of the forms.
</h1>

<p>
Check a form to include it in a diagram. Create this diagram
using the button in the <a href="#page_bottom">bottom of the page</a>.
</p>

<p>
<form action="/selected-diagram" method="GET">
<table border=1>
       <tr>
	<td align="left">
	    <input type="checkbox"
	    	   title="Include this form in a diagram"
	    	   name="F0">
	</td>
	<td align="left">
	  <img src="/home/ioa/quicklisp/local-projects/jeffrey/fancy-labels/0.png"
	       width="50%">
	</td>
</table>
<br/>
<p>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>

TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>

TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>

TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>

TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>

TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>

TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>
TEST<br/>



</p>
<span id="page_bottom">
<input type="submit" name="selected" value="Graph selected"/>
</span>
</p>



</body>
</html>




