<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title> <!-- TMPL_VAR title --> </title>
<link rel="stylesheet" href="/jeffrey.css">
</head>

<body>

<!-- TMPL_INCLUDE 'slider.tmpl' -->

<h1>
Names and statements of the forms.
</h1>

<p>
  Search keywords in statements, and check them to include them in a diagram.
</p>

<form action="/filter-keywords"
      method="post"
      id="search"
      width="100%">
  <input type="submit"
	 value="Filter by keyword(s):"> </input>
  <input class="searchbar"
	 type="text"
	 name="keywords"
	 width="70%"> </input>
</form>

<form action="/selection-diagram"
      method="get"
      id="selection-diagram"
      width="100%">

  <span>
    <input type="submit" value="Graph selection"/>
  </span>

  <table class="checkform">
    <!-- TMPL_LOOP checkforms -->
    <tr>
      <td class="checkbox">
	<input type="checkbox"
	       title="Include this form in a diagram."
	       name="<!--TMPL_VAR name -->">
      </td>
      <td>
	<!-- TMPL_VAR statement -->
      </td>
      <!-- /TMPL_LOOP -->
    </tr>
  </table>

  </form>



</body>
</html>




