
<div id="slide">

<div class="logo">
<a href="/">CGraph</a>
</div>

<img class="examp" name="slider" src="/examples/preview/preview-000.png">

<div class="caption">
<form action="/examples.htm" method="POST">
<input type="submit"
       value="Example diagrams"></input>
</form>
</div>

</div>

<script src="/random-header.js"></script>
