

<h2> The diagram of implications you requested, between the HR forms: <!-- TMPL_VAR print-names -->. </h2>

<p> A boldfaced arrow means strict implication, i.e., there is a model of ZF set theory in which the destination form is true and the origin form is false. For the moment, please look up the references to these implications at the Consequences of the Axiom of Choice Project (LINK TBA). If the image is too small, right click and select 'Show image' (or similar), or resize your browser window. </p>

<img src="<!-- TMPL_VAR path-to-image -->" :alt "Your diagram">
