

<h2> The diagram of implications you requested, between the forms with HR numbers <!-- TMPL_VAR print-names -->: </h2>

<img src="<!-- TMPL_VAR path-to-image -->" :alt "Your diagram">

<p> An arrow from A to B means that A implies B. <br/>
A boldfaced arrow from A to B moreover means that B does not imply A. In other words, that the arrow is not reversible, because there is* a model of ZF in which B is true and A is false. </p>

<p> All these results are relative to ZF (see *). For the moment, please look up the references to these implications at the <strong>Consequences of the Axiom of Choice Project</strong> (link tba). If the image is too small, right click and select 'Show image' (or similar), or resize your browser window.</p>

<p>(*): Meaning that assuming a model of ZF, one can force a model of ZF + B + &not;A</p>