

<h1> Choiceless Grapher </h1>
<h2> Diagram creator for consequences of the axiom of choice (AC). </h2>
<p> Write content later... </p>

<form action="/diagram.htm" method="POST">

<p> Please input space separated Howard Rubin numbers as integers: <br/>
<input type="text" name="names"><br/>
<input style="display: block" type="submit" value="Request diagram"/>

</form>