body {
    margin: 70px 150px 70px 80px;
}

h2 {
    font-size: 18px;
    font-style: bold;
}

p {
    font-family: verdana;
    font-size: 18px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

