body {
    margin: 50px 80px 50px 80px;
}

h2 {
    font-size: 18px;
    font-style: bold;
}

p {
    font-family: verdana;
    font-size: 18px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

header, section, footer, aside, nav, main, article, figure {
    display: block;  /* secure correct behaviour in older browsers (html5) */
}

footer {
    font-size: 9px;
}
