body {
    margin: 50px 80px 50px 80px;
}

h1{
    font-family: helvetica, impact, verdana, sans;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}

h2{
    font-family: helvetica, impact, verdana, sans;
    font-size: 16px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

form{
    font-family: verdana, sans-serif;
    font-size: 1em;
}

form .input{
        height: 1em;
}

form img {
    height: 1.5em;
    vertical-align: middle;
}

.formDiv { 
    float: none;
    display: block;
    padding: 5px;
}


p{
    font-family: verdana, sans-serif;
    font-size: 16px;
}

img{
    max-width: 100%;
    height: auto;
    width: auto; /* ie8 */
}

header, section, footer, aside, nav, main, article, figure {    display: block;  /* secure correct behaviour in older browsers (html5) */
}

form{
    font-size: 1em;
    width: 100%;
}


.formp {
    text-height: 130%;
}

input .text{
    width: 100%;
    max-width: 500px;
}    

slide {
    position: absolute;
    top: 0;
    opacity: 0.5;
    background:black;
    height: 300px;
    width: 800px;
    display:block;
    overflow: hidden;
    background: black;
}

.examp {
    opacity: 0.6;
    position:relative;
    height: 300px;
    font-size: 16px;
}

.caption{
    opacity: 1;
    position: absolute;
    top: 230px;
    width: auto;
    height: 16px;
    z-index: 1;
    border-radius: 2px;
    font-size: 0.8em;
}

.caption a{
    color: black;
    font-family: verdana, sans-serif;
    font-weight: bold;
    opacity: 0.8;
}

.logo {
    font-family: verdana, sans-serif;
    font-size: 30px;
    top: 150px;
    position: absolute;
    z-index: 1;
    opacity: 1;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: black;
    opacity: 0.9;
}

.example {
    width: 100%;
    max-width: 500px;
    position: float;	      
}


.checkform {
    border-style: none;
    position: relative;
    font-family: serif;
    text-align: justify;
    width: 100%;
}

.checkbox {
    vertical-align: top;
}

td {
    vertical-align: top;
}